body, .border{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a{
    margin-bottom: -10px;
}

a{
    text-decoration: none;
}

.border{
    border: solid 2px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    width: 90vw;
    max-width: 500px;
    height: 100%;
    margin-top: 5vh;
    padding-bottom: 40px;
    padding-top: 20px;
    box-shadow: inset rgba(0, 0, 0, 0.11) 3px 3px 3px,
    rgba(0, 0, 0, 0.11) 3px 3px 3px;
}